@font-face {
  font-family: "AvenirNextCyr-Bold";
  src: url("../fonts/avenirnextcyr-bold.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/avenirnextcyr-bold.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/avenirnextcyr-bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/avenirnextcyr-bold.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/avenirnextcyr-bold.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/avenirnextcyr-bold.svg#avenirnextcyr-bold") format("svg"); /* Chrome < 4, Legacy iOS */
}

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.is-hidden {
	display: none;
}

.shape-section {
  display: grid;
  justify-content: center;
  padding: 77px 20px 133px 20px;
}

.shape-section_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.37;
  color: #1a1a1a;
  margin-bottom: 13px;
}
.shape-section_text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #1a1a1a;
  margin-bottom: 31px;
  width: 280px;
	cursor: pointer;
}

.form-user {
  display: grid;
  justify-content: start;
}

.form-user_text {
  height: 64px;
  width: 351px;
  margin-bottom: 37px;
  padding-left: 19px;

  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #414042;
  border-radius: 8px;
}
.form-user_text:focus,
.form-user_text:hover {
	outline: none;
	background: rgba(141, 142, 144, 0.26);
}
.form-user_textarea:focus,
.form-user_textarea:hover {
	outline: none;
	background: rgba(141, 142, 144, 0.26);
}
.form-user_textarea {
  height: auto;
  width: 100%;
  margin-bottom: 36px;
  padding: 18px 19px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #414042;
  border-radius: 8px;
}

.form-user_submit {
  width: 353px;
  height: 51px;
  background-color: #1a1a1a;
  border-radius: 8px;
  margin-bottom: 63px;

  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #ffffff;
}

.google_map {
  min-height: 573px;
  width: 100%;
}

.info {
  height: 100%;
  width: 180px;
  background: #ffffff;
  box-shadow: 0px 15px 30px rgba(220, 221, 243, 0.25);
  border-radius: 8px;
}
.info_container {
  padding: 5px 10px;
}
.info_text {
  font-family: "Inter";
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66;
}

.info_adress {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;
  margin-bottom: 4px;
}

.auth__link-contakt {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #858585;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.83;
}

.auth__acon.email {
  height: 12px;
  width: 12px;
  margin-right: 8px;
}

.auth__acon.phone {
  height: 13px;
  width: 13px;
  margin-right: 8px;
}

/* меню випадашка */


.form-group {
	margin-bottom: 37px;
}

.drop-down {
	position: relative;
}
.drop-down__svg {
	position: absolute;
	top: 30px;
	left: 320px;
	height: 8px;
	width: 12px;
	pointer-events: none;
}
/* .drop-down__svg-up {
	position: absolute;
	top: 22px;
	left: 270px;
	height: 33px;
	width: 55px;
	z-index: 100;
	pointer-events: none;
} */
.drop-down__button {
	position: relative;
	display: block;
	width: 100%;
	height: 64px;
	border-radius: 8px;
	border: 1px solid #414042;
	padding: 17px 40px 17px 19px;

	background-color: #fff;
	font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #414042;
	text-align: left;
	cursor: pointer;
}
.drop-down__button:focus,
.drop-down__button--active {
	outline: none;
	background: rgba(141, 142, 144, 0.26);
}
.drop-down__list {
	display: none;
	position: absolute;
	left: 0%;
	top: 64px;
	background-color: #fff;
	overflow: hidden;
	z-index: 15;

	border-radius: 8px;
	width: 100%;
	z-index: 1;
}

.drop-down__list--visible {
	display: block;
}

.drop-down__list-item {
	border: 1px solid #414042;
	border-bottom: 0px;
	padding: 17px 40px 17px 19px;
	cursor: pointer;
	background: #fff;

}
.drop-down__list-item:first-child {
	border-radius: 8px 8px 0px 0px;
}
.drop-down__list-item:last-child {
	border-radius: 0px 0px 8px 8px;
	border-bottom: 1px solid #414042;
}
.drop-down__list-item:hover {
	background: rgba(141, 142, 144, 0.26);
}
.drop-down__input-hidden {
	display: none;
}

@media screen and (min-width: 1440px) {
  .shape-section {
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 138px 150px 388px;
    grid-template-columns: 630px 1fr;
    grid-column-gap: 40px;
  }

  .box {
    height: 100%;
    width: 100%;
  }
  .form-user {
    display: grid;
    grid-column-gap: 32px;
    grid-template-columns: 299px 299px;
  }

  .form-user_cont {
    margin-bottom: 51px;
    grid-row-start: 7;
    grid-row-end: 8;
  }

  .form-user_text {
    margin-bottom: 0;
    width: 299px;
  }

  .shape-section_text {
    width: 462px;
  }
  .form-user_text.form-user_accommodation {
    width: 628px;
    height: 64px;
    margin-bottom: 53px;
  }
  .form-user_textarea {
    width: 630px;
    height: 338px;
    margin-bottom: 0px;
  }
  .form-user_submit {
    margin-bottom: 0px;
    width: 222px;
    height: 57px;
    grid-row-start: 8;
    grid-row-end: 9;
  }
  .google_map {
    width: 100%;
    height: 936px;
  }
  .am {
    height: 100px;
    width: 100px;
  }

	.drop-down__svg {
		left: 270px;
	}
	.form-group {
		margin-bottom: 0px;
	}
	.form-user__cont {
		margin-bottom: 53px;
	}
	.form-group .form-group__last-drid {
		grid-column-start: 1;
		grid-column-end: 3;
	}
}
